<!doctype html>
<html>
  <head>
    <title><%= forumName %> - Add Review</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <div class="container">
      <h2>Add a New Review</h2>
      <form id="bookSearchForm" action="/searchBooks" method="post">
        <div class="form-group">
            <label for="bookSearch">Search Book:</label>
            <input type="text" id="bookSearch" name="bookSearch" required/>
            <button type="submit" class="btn">Search</button>
        </div>
      </form>
      
      <% if (bookList && bookList.length > 0) { %>
        <div id="bookList" class="search-results">
            <ul class="result-list">
                <% bookList.forEach(function(item) { %>
                    <li class="book-item">
                        <a href="/book/<%= item.id %>/addreview" class="styled-table a"><%= item.volumeInfo.title %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>
  </body>
</html>
