<!DOCTYPE html>
<html>
  <head>
    <title><%= forumName %> - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <div class="container">
      <h1>Welcome to <%= forumName %></h1>
      <div class="card">
        <h2>Featured Review</h2>
        <p>Check out the latest book reviews here!</p>
        <a href="viewreviews">View Reviews</a>
      </div>
      <div class="card">
        <h2>Add Your Review</h2>
        <p>Share your thoughts on your latest read.</p>
        <a href="searchBooks">Add a New Review</a>
      </div>
      <div class="card">
        <h2>Search</h2>
        <p>Search reveiws for key words you may be interest to see in a reveiw or by book name</p>
        <a href="search">Search</a>
      </div>
      <div class="card">
        <h2>About Page</h2>
        <p>Read about our website</p>
        <a href="/about">About</a>
      </div>
    </div>
  </body>
</html>
