<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="viewposts">View Posts</a></p>
    <p><a href="users">List Users</a></p>
    <p><a href="topics">List Topics</a></p>
    <p><a href="addpost">Add a New Post</a></p>
    <p><a href="search">Search for Posts</a></p>
  </body>
</html>