<!doctype html>
<html>
  <head>
    <title><%= forumName %> - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <h1>Welcome to <%= forumName %></h1>
    <p><a href="about">About <%= forumName %></a></p>
    <p><a href="viewreviews">View Reveiws</a></p>
    <p><a href="addreview">Add a New Reveiws</a></p>
  </body>
</html>