<!DOCTYPE html>
<html>
  <head>
    <title>Register - <%= forumName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <div class="container">
      <h1>Register</h1>
      <div class="card">
        <form action="/register" method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required />
          </div>
          <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" required />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required />
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
      </div>

      <% if (errorMessage) { %>
      <div class="error-message"><%= errorMessage %></div>
      <% } %>
    </div>
  </body>
</html>
