<!DOCTYPE html>
<html>
<head>
    <title><%= forumName %> - Book Reviews</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <%- include('./partials/header.ejs'); -%>
    <div class="container">
        <h2>Books with Reviews</h2>
        <div class="card">
            <% if (books.length > 0) { %>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(function(book) { %>
                            <tr>
                                <td><%= book.BookName %></td>
                                <td><a href="/bookreviews/<%= book.ISBN %>">View Reviews</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No books available.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
